/* PAGINA INDEX Y BASICOS COMUNES */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;

}


.header {
    background-color: rgb(242, 242, 242);
    padding: 1.2rem;
    display: flex;
    grid-area: header;
    justify-content: space-around;
    align-items: center;
}

.header img {
    width: 150px;
    border-radius: 20%;
}

.header nav ul {
    list-style: none;
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: flex-end;
}

.header nav ul a {
    color: #D4AF37;
    text-decoration: none;
    padding: 2rem;
    display: block;
}

.header nav li a:hover {
    background-color: #D4AF37;
    color: black;
    font-weight: bold;
}




.main {
    background-color: white;
    padding: 1.2rem;
    grid-area: auto;
    width: 100%;
}

.main h1 {
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
    text-decoration:underline;
    color: #D4AF37;

}

.main p {
    line-height: 1.5;
    padding: 1rem;
    text-align: center;

}

.main .img {
    text-align: center;
    padding: 1rem;
}

.mititulo {
    color: #f10a0a;

}



.footer {
    background-color: rgb(242, 242, 242);
    padding: 6rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border: none;
   }

.footer p {
    color: #D4AF37;
}


